.nav {
    height: auto;
    width: 100%;
    background-color: #FFF;
    position: relative;
    padding: 1%;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 30px 13px 10px;
    text-decoration: none;
    color: #000;
  }
  
  .nav > .nav-links > a:hover {
    border-top: 1px solid #ff7900;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label 
    
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #ff7900;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff80;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

body {
    margin: 0;
}
header {
    background-color: #373738;
    padding: 15px;
}
header ul {
    float: right;
    color: white;
}
header li {
    display: inline-block;
}
header p {
    display: inline-block;
}
.heroImg {
    background-color: #ebebeb;
    padding: 100px 15px;
}
.content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}
.button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}
.footer {
    background-color: 373738;
    padding: 5px;
    color: white;
}
.footer li {
    display: inline-block;
    padding: 0px 7px;
}
.heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
}

/*<--My UX Skills Section-->*/
.flexContainer {
    display:flex;
    
    padding: 60px 30px;
}
.flexContainer div {
    width: 33%;
    padding: 25px;
}

/*<--My Work Section-->*/
.my work{
    padding: 60px 30px;
    padding-top: 0;
    background-color: #ebebeb;
}
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 50;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
}
.workGrid img {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    display: block;
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
